POSTGRES_DB=dartflow
POSTGRES_USER=dartflow
POSTGRES_PASSWORD=change-this-database-password
JWT_SECRET=replace-with-at-least-32-random-characters
FRONTEND_ORIGIN=http://localhost:3000
FRONT_PORT=3000
ACCESS_TOKEN_TTL_HOURS=4
REFRESH_TOKEN_TTL_DAYS=30
COOKIE_SECURE=false
